# .dockerignore

# Git
.git
.gitignore

# Node modules
node_modules

# Build output
dist
.DS_Store

# Docker
Dockerfile*
docker-compose.yml

# Local environment files
.env

# InfluxDB data
influxdb_data
